// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

@import "../utilities/font-sizes";
@import "../utilities/spacing";

@mixin task-card {
  @include pad("xl", "x");
  @include pad("lg", "y");
  @include font-size("xxl");
  flex: 20% 1 0;
  max-width: 500px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: start;
  & > .title {
    @include font-size("xl");
  }

  & > .description {
    @include font-size("lg");
  }

  & > .links {
    display: flex;
    justify-content: space-around;

    & > * {
      @include font-size("md");
      @include marg("xs", "y");
      flex-grow: 1;
      text-align: center;
      border: 1px solid black;
      color: black;
    }
  }
}

@mixin page_title {
  @include font-size("xxl");
}

.tasks-index {
  & > .title {
    @include page_title;
  }
  
  .list {
    @include pad("md");
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    &__card {
      @include task-card;
    }
  }
  .new-task-form {
    @include pad("md");
    display: inline-flex;
    flex-direction: column;
    border: 1px solid grey;
    background: rgba(100, 100, 100, 0.1);
    & > *:not(:last-child) {
      margin-bottom: 5px;
    }
  }
}
