// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

// -------------------------------
// IMPORTS
@import "../utilities/font-sizes";
@import "../utilities/spacing";

// -------------------------------
// MIXINS
@mixin page_title {
  @include font-size("xxl");
}

@mixin task-card {
  @include pad("md", "x");
  @include pad("lg", "y");
  @include font-size("lg");
  flex: 20% 1 0;
  max-width: 500px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: start;
  &__title {
    @include font-size("xl");
  }

  & > .description {
    @include font-size("lg");
  }
}

@mixin card-links {
    display: flex;
    justify-content: space-around;

    & > * {
      @include font-size("md");
      @include marg("xs", "y");
      flex-grow: 1;
      text-align: center;
      border: 1px solid black;
      color: black;
    }
  }

@mixin subtasking-form {
  @include pad("sm", "top");
  display: flex;
  flex-direction: column;
  border-top: 1px solid rgba(100, 100, 100, 0.3);
  &__title {
    @include font-size('lg');
    @include pad('xs', 'bottom');
    text-decoration: underline;
  }
  &__fieldset {
    display: flex;
    > * {
      flex: 50% 1 1;
    }
  }
  &__field {
    flex: 1;
  }
}

// -------------------------------
// STYLES

.tasks-index {
  &__title {
    @include page_title;
  }

  &__list {
    @include pad("md");
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .card {
      @include task-card;
      &__form {
        @include subtasking-form;
      }
      &__links {
        @include card-links;
      }
    }
  }

  &__form {
    @include pad("md");
    display: inline-flex;
    flex-direction: column;
    border: 1px solid grey;
    background: rgba(100, 100, 100, 0.1);
    & > *:not(:last-child) {
      margin-bottom: 5px;
    }
  }
}
